/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #2D3035;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.hidden {
    display: none
}

.hidden-2{
    display: none
}

.index-title {
    padding-top: 200px;
}

.title {
    color: #DB6574;
    font-weight: 350;
    font-size: 3.5rem;
    line-height: 4.5rem;
}

a {
    color: #E6E6FA;
}

label {
    color: #DB6574;
}

.form-group-button input, .form-group-button button{
    background-color: #DB6574;
}

    .form-group-button input:hover, .form-group-button button:hover, .form-group-button input:active, .form-group-button button:active {
        background-color: #DB6574;
        color: white;
    }

dt, dd, th, td, h1, h4{
    color: #DB6574;
}

.navbar {
    border: none !important;
}

.nav-link {
    color: #E6E6FA;
}

/*styling for Logo*/
.navbar-brand {
    color: #DB6574;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

.logo-title {
    font-family: 'Lobster', cursive;
    font-size: 70px;
}

.nav-link:hover, a:hover, .navbar-brand:hover{
    color: #DB6574;
}

.username-link , .title-top{
    color: #8A8D8A;
}

.title-top{
    font-size: 50px;
}