@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center home-text">
    <div class="index-title hidden">
        <h1 class="title title-top">Welcome to</h1>
    </div>
    <div class="hidden-2">
        <h1 class="logo-title">Salesporium</h1>
    </div>
</div>
